<footer id="footer-block">
  <div class="block color-scheme-white-90">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <article class="payment-service">
            <a href="#"></a>
            <div class="row">
              <div class="col-md-4 text-center">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <div class="col-md-8">
                <h3 class="color-active">Safe Payments</h3>
                <p>Experience and enjoy the convenience of paying by Net Banking,Debit card and Credit card</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="payment-service">
            <a href="#"></a>
            <div class="row">
              <div class="col-md-4 text-center">
                <i class="fa fa-truck"></i>
              </div>
              <div class="col-md-8">
                <h3 class="color-active">Reliable shipping</h3>
                <p>We provide reliable , on time deverly of ordered products and tracking of orders!</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="payment-service">
            <a href="#"></a>
            <div class="row">
              <div class="col-md-4 text-center">
                <i class="fa fa-fax"></i>
              </div>
              <div class="col-md-8">
                <h3 class="color-active">24/7 Support</h3>
                <p>Email:sathuragiriangadi@gmail.com <br/>
                94860 72414 , <br/> 96599 30499</p>
              </div>
            </div>
          </article>
        </div>
      </div>



    </div>
  </div>

  <div class="social">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="socials">
            <a href="#"><i class="fa fa-skype"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <form class="form-horizontal">
            <input type="text" class="input form-control" placeholder="Newsletter">
            <button type="submit"> Sign up <i class="fa fa-angle-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-information">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-footer">
            <h3>Information</h3>
          </div>
          <ul class="footer-categories list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Returns</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="header-footer">
            <h3>My Account</h3>
          </div>
          <ul class="footer-categories list-unstyled">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Brands</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Secure payment</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="header-footer">
            <h3>Feedback ...</h3>
          </div>
          <p>
            contact us or send your valuable feedback/suggestions.
          </p>
          <div class="want">
            <form class="form-horizonta">
              <textarea class="form-control" placeholder="I want ..."></textarea>
              <button type="submit"> Send us <i class="fa fa-angle-right"></i></button>
            </form>
          </div>



        </div>
        <div class="col-md-3">
          <div class="header-footer">
            <h3>Get In Touch</h3>
          </div>
          <p><strong>Phone: 94860 72414 ,96599 30499</strong>
            <br><strong>Email:</strong> sathuragiriangadi@gmail.com</p>
          <p><strong>Sathura Foods</strong>
            8/2021,Barathi puram, <br/>
            Pappanaickenpalayam,<br/>
            Near professional courier head office,<br/>
            Coimbatore - 37<br/>
          </p>
          <p><a href=""><i class="icon-map-marker"></i> Location in Google Maps</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copy color-scheme-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="index.html" class="logo-copy pull-left"></a>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <a href="">Copyright © 2014</a> SathuragiriAngadi.com | All rights reserved.<br>Designed & Developed by  <a href="http://facebook.com/samuels410" target="_blank">Samuel Santhosh.Y</a>
          </p>
        </div>
        <div class="col-md-4">
          <ul class="footer-payments pull-right">
            <li> <%= image_tag "payment-maestro.jpg" ,alt: "payment" %></li>
            <li><%= image_tag "payment-discover.jpg" ,alt: "payment" %></li>
            <li><%= image_tag "payment-visa.jpg" ,alt: "payment" %></li>
            <li><%= image_tag "payment-american-express.jpg" ,alt: "payment" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>